@charset "UTF-8";
.fv-swiper .swiper-slide {
  opacity: 0.3; /* 左右のスライドを薄くする */
  transform: scale(0.7) !important; /* 左右のスライドを小さくする */
  transition: 0.7s; /* ゆっくり小さくさせる */
}
.fv-swiper .swiper-slide img {
  height: auto;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.fv-swiper .swiper-slide-active {
  opacity: 1; /* 中央のスライドは薄くしない */
  transform: scale(1) !important; /* 中央のスライドは小さくしない */
  z-index: 1; /* 中央のスライドを一番上にする */
}

.swiper-pagination-bullet {
  width: 2.1rem;
  height: 2rem;
  position: relative;
  background: transparent;
}
@media (max-width: 767px) {
  .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
  }
}
.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  width: 2.1rem;
  height: 2rem;
  background: url(../img/top/star.png) no-repeat center center/cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .swiper-pagination-bullet::after {
    width: 1rem;
    height: 1rem;
  }
}

.swiper-pagination-bullet-active {
  width: 3rem;
  height: 3rem;
  position: relative;
  background: transparent;
}
@media (max-width: 767px) {
  .swiper-pagination-bullet-active {
    width: 2rem;
    height: 2rem;
  }
}
.swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  width: 3rem;
  height: 3rem;
  background: url(../img/top/star_hover.png) no-repeat center center/cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .swiper-pagination-bullet-active::after {
    width: 2rem;
    height: 2rem;
  }
}

.swiper-pagination01 {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 767px) {
  .swiper-pagination01 {
    margin-top: 2rem;
  }
}

.swiper-button-prev01 {
  bottom: 0;
  width: 4rem;
  left: 34.5%;
  position: absolute;
}
@media (max-width: 767px) {
  .swiper-button-prev01 {
    width: 2.5rem;
    left: 9.5rem;
    bottom: 0.7rem;
  }
}

.swiper-button-next01 {
  position: absolute;
  bottom: 0;
  width: 4rem;
  right: 34.5%;
}
@media (max-width: 767px) {
  .swiper-button-next01 {
    width: 2.5rem;
    right: 9.7rem;
    bottom: 0.7rem;
  }
}

.fv-swiper {
  position: relative;
  margin-top: 1.6rem;
}
@media (max-width: 767px) {
  .fv-swiper {
    margin-top: 9.1rem;
  }
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  opacity: 1;
}

.manthly-price {
  padding-bottom: 26rem;
  background: url(../img/top/monthly-bg.png) no-repeat center center/contain;
  padding-top: 9.9rem;
}
@media (max-width: 767px) {
  .manthly-price {
    padding-top: 5.1rem;
    background: url(../img/top/monthly-bg_sp.png) no-repeat center center/cover;
    width: 39rem;
    height: 47.1rem;
  }
}

.manthly-price__img {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
}

.manthly-swiper {
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .manthly-swiper {
    margin-top: 1.9rem;
  }
}

.menu-sp {
  padding-bottom: 8rem;
  text-align: right;
  margin-top: -10rem;
}
@media (max-width: 767px) {
  .menu-sp {
    margin-top: 0.6rem;
    padding-bottom: 2rem;
  }
}

.menu-title {
  display: inline-block;
  text-align: left;
}
@media (max-width: 767px) {
  .menu-title h2 {
    font-size: 1.6rem;
  }
}

.menu-swiper {
  margin-top: 4rem;
}
@media (max-width: 767px) {
  .menu-swiper {
    margin-top: 2.5rem;
  }
}
.menu-swiper .swiper-slide a {
  display: block;
  border-radius: 2rem;
  background-color: #02B1A6;
  text-align: left;
  padding-top: 2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 3rem;
}
.menu-swiper .swiper-slide a:hover .menu-item__link p::after {
  right: -5.3rem;
}
.menu-swiper .swiper-slide a:hover .menu-item__link p::before {
  right: -6.8rem;
}

.menu-item__sub {
  color: var(--sub-color, #E5F8EF);
  /* ENGLISH HEADING */
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.6rem */
  font-variant: all-small-caps;
}

.menu-item__head {
  margin-top: 0.8rem;
  color: var(--FFF, #FFF);
  font-family: "Zen Old Mincho";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.16rem;
}

.menu-item__img {
  margin-top: 2rem;
}

.menu-item__text {
  margin-top: 2rem;
  color: var(--FFF, #FFF);
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
}

.menu-item__link {
  margin-top: 2.9rem;
}
.menu-item__link p {
  margin-left: 5.35rem;
  color: var(--FFF, #FFF);
  /* ENGLISH HEADING */
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.6rem */
  display: inline-block;
  font-variant: all-small-caps;
  position: relative;
}
.menu-item__link p::after {
  content: "";
  position: absolute;
  width: 3.4rem;
  height: 3.4rem;
  flex-shrink: 0;
  border: 1px solid #fff;
  top: 50%;
  transform: translateY(-50%);
  right: -6.8rem;
  border-radius: 50%;
  transition: 0.3s;
}
.menu-item__link p::before {
  content: "";
  position: absolute;
  width: 3.2rem;
  height: 0.1rem;
  flex-shrink: 0;
  background-color: #fff;
  top: 50%;
  transform: translateY(-50%);
  right: -5rem;
  transition: 0.3s;
}

.doctor {
  padding-top: 2.4rem;
  padding-bottom: 4.9rem;
}
@media (max-width: 767px) {
  .doctor {
    padding-top: 0px;
  }
}

.doctor__tle {
  text-align: center;
}

.doctor__title {
  display: inline-block;
}
@media (max-width: 767px) {
  .doctor__title {
    padding-bottom: 2.6rem;
  }
  .doctor__title p {
    font-size: 5.8rem;
  }
}
.doctor__title h2 {
  text-align: left;
}
.doctor__title::after {
  left: 0;
}

.doctor__list {
  position: relative;
  margin-top: 10rem;
  max-width: 105.4rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .doctor__list {
    display: flex;
    flex-direction: column;
    margin-top: 1.6rem;
  }
}
.doctor__list .doctor__img {
  margin-left: auto;
  position: relative;
  left: -4.6rem;
}
@media (max-width: 767px) {
  .doctor__list .doctor__img {
    margin-left: 0;
    left: 0;
  }
}
.doctor__list .doctor__left {
  left: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  .doctor__list .doctor__left {
    order: 2;
    margin-left: auto;
    margin-right: auto;
    width: 91%;
    margin-top: -15.1rem;
    padding-top: 1.2rem;
    padding-bottom: 0.7rem;
  }
}
.doctor__list .doctor__img::after {
  position: absolute;
  content: "";
  background: url(../img/top/doctor__text.png) no-repeat center center/cover;
  width: 27.6rem;
  height: 32.7rem;
  right: -4.8rem;
  top: -5.8rem;
}
@media (max-width: 767px) {
  .doctor__list .doctor__img::after {
    width: 27.6rem;
    height: 32.7rem;
    right: 0;
    top: 0.3rem;
  }
}

.doctor__list02 {
  position: relative;
  left: 3rem;
  margin-top: 9.3rem;
  max-width: 102rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .doctor__list02 {
    margin-top: 2rem;
    left: auto;
  }
}
.doctor__list02 .doctor__img {
  border-radius: 9rem 0 0 0;
}
.doctor__list02 .doctor__img::after {
  position: absolute;
  content: "";
  background: url(../img/top/doctor__text02.png) no-repeat center center/cover;
  width: 25.7rem;
  height: 27.6rem;
  left: -4.5rem;
  top: -3.8rem;
}
@media (max-width: 767px) {
  .doctor__list02 .doctor__img::after {
    left: 0.1rem;
    top: -0.3rem;
  }
}
.doctor__list02 .doctor__img::after img {
  border-radius: 9rem 0 0 0;
  background-color: #ccc;
  display: inline-block;
}
.doctor__list02 .doctor__left {
  padding-bottom: 1.5rem;
}

.doctor__img {
  width: 58.9rem;
  height: 72rem;
  background-color: #E5F8EF;
  position: relative;
  border-radius: 0 9rem 0 0;
}
@media (max-width: 767px) {
  .doctor__img {
    width: 37rem;
    height: 45rem;
  }
}

.doctor__img_bg img {
  width: 49.2rem;
  height: 63.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .doctor__img_bg img {
    width: 30rem;
    height: 38rem;
  }
}

.doctor__left {
  position: absolute;
  right: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 55rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 10px 0px rgba(91, 163, 115, 0.2);
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}
@media (max-width: 767px) {
  .doctor__left {
    width: 91%;
    right: 0;
    height: auto;
    transform: none;
    top: auto;
    right: auto;
    margin-top: -15.3rem;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
    padding-top: 1.2rem;
    padding-bottom: 0.6rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.doctor__left_head {
  color: var(--main-color, #02B1A6);
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
}

.doctor__left_name {
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .doctor__left_name {
    margin-top: 2rem;
  }
}

.doctor__left_name_sub {
  color: var(--border-color, #CCC);
  /* ENGLISH HEADING */
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.6rem */
  font-variant: all-small-caps;
}

.doctor__left_name_head {
  color: var(--text-color, #333);
  font-family: "Zen Old Mincho";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.192rem;
  padding-bottom: 2.4rem;
  position: relative;
}
.doctor__left_name_head::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.1rem;
  background-color: #02B1A6;
  bottom: 0;
  left: 0;
}

.doctor__left_sns {
  margin-top: 2.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.4rem;
  width: 18.9rem;
}
@media (max-width: 767px) {
  .doctor__left_sns {
    margin-top: 2.1rem;
  }
}
.doctor__left_sns a {
  transition: 0.3s;
  width: 3rem;
}
.doctor__left_sns a:nth-of-type(3) {
  width: 2.7rem;
}
.doctor__left_sns a:hover {
  opacity: 0.8;
}

.doctor__history {
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .doctor__history {
    margin-top: 2.2rem;
  }
}

.doctor__history_head {
  color: #CCC;
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
}

.doctor__history_text {
  color: var(--text-color, #333);
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  margin-top: 1.6rem;
}
@media (max-width: 767px) {
  .doctor__history_text {
    font-size: 1.4rem;
  }
}

.doctor__left_qualification {
  margin-top: 2.4rem;
}
@media (max-width: 767px) {
  .doctor__left_qualification {
    margin-top: 1.6rem;
  }
}

.doctor__left_qualification_head {
  color: #CCC;
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
}

.doctor__left_qualification_text {
  color: var(--text-color, #333);
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  margin-top: 1.6rem;
}
@media (max-width: 767px) {
  .doctor__left_qualification_text {
    font-size: 1.4rem;
  }
}

.btn {
  width: 15.1rem;
}
.btn a {
  color: var(--text-color, #333);
  display: inline-block;
  /* ENGLISH HEADING */
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 1.6rem */
  font-variant: all-small-caps;
  position: relative;
}
.btn a:hover::after {
  right: -5.3rem;
}
.btn a:hover::before {
  right: -6.8rem;
}
.btn a::after {
  content: "";
  position: absolute;
  width: 3.4rem;
  height: 3.4rem;
  flex-shrink: 0;
  border: 1px solid #333333;
  top: 50%;
  transform: translateY(-50%);
  right: -6.8rem;
  border-radius: 50%;
  transition: 0.3s;
}
.btn a::before {
  content: "";
  position: absolute;
  width: 3.2rem;
  height: 0.1rem;
  flex-shrink: 0;
  background-color: #333333;
  top: 50%;
  transform: translateY(-50%);
  right: -5rem;
  transition: 0.3s;
}

.doctor__btn {
  margin-top: 4.9rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .doctor__btn {
    margin-top: 2.8rem;
  }
}

.insta {
  padding-top: 2.8rem;
  padding-bottom: 6.3rem;
}
@media (max-width: 767px) {
  .insta {
    padding-top: 1.1rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 767px) {
  .insta__title p {
    font-size: 2rem;
  }
}

.insta__list {
  display: flex;
  width: 34rem;
  margin-left: auto;
  margin-right: auto;
  gap: 4em;
  align-items: center;
}
@media (max-width: 767px) {
  .insta__list {
    justify-content: center;
    gap: 6.2rem;
  }
}

@media (max-width: 767px) {
  .doctor__title p {
    font-size: 6.1rem;
  }
}

.insta__icon {
  width: 6rem;
}
@media (max-width: 767px) {
  .insta__icon {
    width: 3rem;
  }
}

.insta__box {
  margin-top: 6.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.333rem;
}
@media (max-width: 767px) {
  .insta__box {
    grid-template-columns: 1fr 1fr;
    gap: 3.6rem 2rem;
  }
}

.insta__item {
  height: 29rem;
  background-color: #ccc;
  width: 100%;
}
@media (max-width: 767px) {
  .insta__item {
    height: 17.5rem;
  }
}

.news {
  padding-top: 4.9rem;
  padding-bottom: 2.4rem;
}
@media (max-width: 767px) {
  .news {
    padding-top: 0.4rem;
    padding-bottom: 0px;
  }
}

@media (max-width: 767px) {
  .news__inner {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid #02B1A6;
    padding-bottom: 2.7rem;
    border-radius: 0.5rem;
  }
}

.news__list {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 2.4rem;
}
@media (max-width: 767px) {
  .news__list {
    padding-left: 0rem;
  }
}
.news__list::after {
  content: "";
  position: absolute;
  background: url(../img/top/news__bg.png) no-repeat center center/cover;
  width: 63rem;
  height: 60.37rem;
  z-index: -1;
  right: -13rem;
  top: -12.8rem;
}
@media (max-width: 767px) {
  .news__list::after {
    display: none;
  }
}
@media (max-width: 767px) {
  .news__list {
    flex-direction: column;
  }
}

.news__btn {
  margin-top: 7.3rem;
}
@media (max-width: 767px) {
  .news__btn {
    margin-top: 3.1rem;
    margin-left: 0rem;
  }
}

.news__right {
  width: 82rem;
  margin-top: 1.5rem;
}
@media (max-width: 767px) {
  .news__right {
    width: auto;
    margin-top: 1.9rem;
  }
}

.news__right_item {
  padding-bottom: 5.6rem;
  border-bottom: 1px solid #ccc;
  display: block;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .news__right_item {
    padding-bottom: 2rem;
  }
}
.news__right_item:hover {
  opacity: 0.7;
}
.news__right_item:nth-of-type(n+2) {
  margin-top: 5.6rem;
}
@media (max-width: 767px) {
  .news__right_item:nth-of-type(n+2) {
    margin-top: 2rem;
  }
}

.news__time {
  color: #CCC;
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
}

.news__text {
  color: var(--text-color, #333);
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  margin-top: 0.8rem;
}

.about {
  padding-top: 6.4rem;
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .about {
    padding-top: 2.2rem;
  }
}

@media (max-width: 767px) {
  .about__title {
    padding-bottom: 1rem;
  }
  .about__title::after {
    left: 12.2rem;
  }
  .about__title p {
    font-size: 5rem;
  }
}

.about__list {
  margin-top: 6.1rem;
  position: relative;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .about__list {
    margin-top: 4rem;
  }
}

.about__img {
  border-radius: 9rem 0 0 0;
  background-color: #ccc;
  width: 67rem;
  height: 44rem;
  flex-shrink: 0;
  position: relative;
}
@media (max-width: 767px) {
  .about__img {
    height: 20.3rem;
    width: 31rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.about__img::after {
  content: "";
  position: absolute;
  background: url(../img/top/clinc_text.png) no-repeat center center/cover;
  width: 45.2rem;
  height: 21rem;
  top: -3.8rem;
  left: -3.7rem;
}
@media (max-width: 767px) {
  .about__img::after {
    width: 35.1rem;
    height: 18.4rem;
    background: url(../img/top/clinc_text_sp.png) no-repeat center center/cover;
    top: -2.7rem;
    left: -2.8rem;
  }
}

.about__box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 59.1rem;
  height: auto;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 4px 0px rgba(2, 177, 166, 0.2);
  padding-top: 3rem;
  padding-bottom: 7.4rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 767px) {
  .about__box {
    position: relative;
    top: -2.8rem;
    transform: none;
    width: 33rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5.4rem;
  }
}

.about__text {
  color: var(--text-color, #333);
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
}
@media (max-width: 767px) {
  .about__text {
    font-size: 1.4rem;
  }
}

.about__btn {
  text-align: right;
  margin-top: 1.9rem;
  position: absolute;
  right: 9.5rem;
  bottom: 3.9rem;
}
@media (max-width: 767px) {
  .about__btn {
    right: 7.8rem;
    bottom: 2.4rem;
  }
}

.about__link {
  text-align: right;
}

.about__list02 {
  margin-top: 6.3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.2rem;
  max-width: 106rem;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .about__list02 {
    grid-template-columns: 1fr;
    margin-top: 0.9rem;
    gap: 2rem;
  }
}

.about__item {
  height: 18rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(<path-to-image>) lightgray 50%/cover no-repeat;
  padding-top: 4.8rem;
  padding-left: 27.4rem;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .about__item {
    padding-top: 0;
    height: 13.3rem;
  }
}
.about__item:hover {
  opacity: 0.7;
}
.about__item:nth-of-type(2) .about__heading_title {
  text-align: right;
  padding-right: 4rem;
}
@media (max-width: 767px) {
  .about__item:nth-of-type(2) .about__heading_title {
    padding-right: 2.5rem;
  }
}
.about__item img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  .about__item img {
    height: 13.3rem;
  }
}

.about__heading {
  position: absolute;
  top: 4.8rem;
  right: 1.1rem;
}
@media (max-width: 767px) {
  .about__heading {
    top: 3.2rem;
    right: 3.7rem;
  }
}

.about__heading_sub {
  color: rgba(2, 177, 166, 0.3);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Aboreto;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 6.4rem */
}
@media (max-width: 767px) {
  .about__heading_sub {
    font-size: 4.8rem;
  }
}

.about__heading_title {
  color: var(--sub-color, #E5F8EF);
  font-feature-settings: "vert" on, "liga" off, "clig" off;
  font-family: "Zen Old Mincho";
  font-size: 4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 4.8rem */
  letter-spacing: 0.16rem;
  text-align: center;
  margin-top: -2.5rem;
}
@media (max-width: 767px) {
  .about__heading_title {
    font-size: 3.2rem;
    margin-top: -2.1rem;
  }
}

.access {
  padding-top: 4.1rem;
  padding-bottom: 6rem;
}
@media (max-width: 767px) {
  .access {
    padding-top: 2.1rem;
  }
}

.access__title {
  color: var(--main-color, #02B1A6);
  font-family: "Zen Old Mincho";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 3.2rem */
}
@media (max-width: 767px) {
  .access__title {
    font-size: 1.6rem;
  }
}

.access__list {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.1rem;
}
@media (max-width: 767px) {
  .access__list {
    flex-direction: column;
    gap: 2rem;
  }
}

.access__box {
  margin-top: 1.6rem;
  width: 55rem;
}
@media (max-width: 767px) {
  .access__box {
    width: auto;
  }
}

.access__item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 0;
  border-top: 1px solid #E5F8EF;
}
@media (max-width: 767px) {
  .access__item {
    padding: 1.4rem 0;
  }
}
.access__item:nth-of-type(4) {
  border-bottom: 1px solid #E5F8EF;
}

.access__item_head {
  color: var(--main-color, #02B1A6);
  /* Subheading Text */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.128rem;
  width: 9.1rem;
}
.access__item_text {
  color: var(--text-color, #333);
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
}
.access__item_text a {
  display: inline-block;
}
@media (max-width: 767px) {
  .access__item_text {
    font-size: 1.4rem;
  }
}

.access__btn {
  margin-top: 2.5rem;
  margin-left: auto;
}
@media (max-width: 767px) {
  .access__btn {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .access__left {
    width: 100%;
  }
}

.btn__list {
  margin-top: 8.1rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}
@media (max-width: 767px) {
  .btn__list {
    flex-direction: column;
    margin-top: 2.5rem;
  }
}
.btn__list a {
  display: flex;
  width: 22rem;
  height: 4rem;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--main-color, #02B1A6);
  color: var(--FFF, #FFF);
  text-align: center;
  padding-left: 6.75rem;
  /* header button text */
  font-family: "Zen Old Mincho";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 2.24rem */
  letter-spacing: 0.056rem;
  position: relative;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .btn__list a {
    margin-left: auto;
    margin-right: auto;
  }
}
.btn__list a:hover {
  border: 1px solid #02B1A6;
  background: var(--sub-color, #E5F8EF);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--main-color, #02B1A6);
}
.btn__list a:hover::after {
  border: 1px solid #02B1A6;
  right: 7.45rem;
}
.btn__list a:hover::before {
  background-color: #02B1A6;
  right: 6.75rem;
}
.btn__list a::after {
  content: "";
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  flex-shrink: 0;
  border-radius: 2.4rem;
  border: 1px solid var(--FFF, #FFF);
  top: 50%;
  transform: translateY(-50%);
  right: 6.75rem;
  transition: 0.3s;
}
.btn__list a::before {
  position: absolute;
  content: "";
  width: 2rem;
  height: 0.1rem;
  background-color: #fff;
  right: 7.85rem;
  top: 50%;
  transform: translateY(-50%);
}

.access__right {
  width: 60rem;
  height: 40rem;
  flex-shrink: 0;
}
@media (max-width: 767px) {
  .access__right {
    width: 100%;
    height: 24.5rem;
  }
}
.access__right iframe {
  width: 100%;
  height: 100%;
}

.calendar {
  height: 69.5rem;
}
@media (max-width: 767px) {
  .calendar {
    height: 85.5rem;
  }
}

.facility {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}
@media (max-width: 767px) {
  .facility {
    padding-top: 8rem;
  }
}
.facility::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 21rem;
  background: url(../img/top/gallery_bg.jpg) no-repeat center center/cover;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18.8rem;
}
@media (max-width: 767px) {
  .facility::after {
    bottom: 17.4rem;
  }
}
.facility .swiper-slide:nth-child(2n) {
  position: relative;
  top: -10.2rem;
}
@media (max-width: 767px) {
  .facility .swiper-slide:nth-child(2n) {
    top: 10.2rem;
  }
}

.facility__inner {
  max-width: 144rem;
  margin-left: auto;
  margin-right: auto;
}

.facility__title {
  position: relative;
  z-index: 2;
}

.facility__swiper {
  margin-left: 42.6rem;
  padding-top: 10rem;
  margin-top: -7.2rem;
}
@media (max-width: 767px) {
  .facility__swiper {
    margin-left: 1.5rem;
    padding-bottom: 10rem;
    padding-top: 8.7rem;
  }
}