@import "_common";

.beginners-page-top {
  margin-top: 6.7rem;
}

.beginners-guide-title {
  left: 39%;
}

.beginners__title {
  display: inline-block;
}

.beginners__title p {
  text-align: left;
  padding-left: 1.2rem;
}

.beginners__title h2 {
  padding-left: 0.3rem;
}

.beginners__title::after {
  left: 0;
}

.beginners__title-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(2, 177, 166, 1);
  margin-top: 3.5rem;
  font-family: "Zen Old Mincho";
  line-height: 1.6;
}

.reason-top {
  margin-top: 15rem;
}

.reason__title {
  display: inline-block;
}

.reason__title h2 {
  text-align: left;
}

.reason__title::after {
  left: 0;
}

.reason__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 11.9rem;
  margin-top: 10.8rem;
}

.reason-card__item {
  position: relative; /* ✅ これを追加！ */
  display: block; /* ✅ `a`タグなので block に */
}

.reason-card__polygon::before {
  content: "";
  position: absolute;
  top: -5.7rem;
  left: 26%;
  transform: translateX(-50%);
  width: 20.2rem; /* ✅ 画像のサイズに合わせて適切な値を指定 */
  height: 20.2rem;
  background-image: url("../img/beginners/polygon1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.reason-card__polygon::after {
  content: "";
  position: absolute;
  top: -7rem;
  left: 30%;
  transform: translateX(-50%);
  width: 20.2rem; /* ✅ こちらも適切なサイズを指定 */
  height: 20.2rem;
  background-image: url("../img/beginners/polygon2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.reason-card__text-main {
  font-size: 2rem;
  font-weight: 400;
  font-family: Aboreto;
  position: absolute;
  top: 0%; /* 調整可能 */
  left: 26.4%;
  transform: translateX(-50%);
  // color: rgba(229, 248, 239, 1);
}

.reason-card__text-number {
  font-size: 4.8rem;
  font-weight: 400;
  font-family: Aboreto;
  position: absolute;
  top: 6.8%; /* 調整可能 */
  left: 26.5%;
  transform: translateX(-50%);
  // color: rgba(229, 248, 239, 1);
}

.reason-card__item-img::before {
  content: "";
  position: absolute;
}

.reason-card__item-img {
  max-width: 73%; /* 画像の最大幅を設定（テキストより小さく） */
  // margin: 0 auto; /* 中央揃え */
  margin-left: 7.4rem;
}

.reason-card__item-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 280/291;
  object-fit: cover;
}

.reason-card__body {
  max-width: 100%; /* テキスト部分の最大幅を指定 */
  margin: 2rem auto 0; /* 上の余白を調整し、中央揃え */
}

.reason-card__text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7;
  font-family: "Zen Old Mincho";
  color: rgba(2, 177, 166, 1);
  text-align: center;
}

.reason-card__text-sub {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.65;
  font-family: "Zen Old Mincho";
  margin-top: 2rem;
}

.flow-top {
  margin-top: 14.3rem;
}

.flow__title {
  display: inline-block;
}

.flow__title h2 {
  text-align: left;
}

.flow__title::after {
  left: 0;
}

.flow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.flow__inner {
  width: 100%;
}

.flow__heading {
  text-align: center;
  // margin-bottom: 3rem;
}

.flow__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 3rem;
  margin-top: 4rem;
}

.flow__card {
  display: flex;
  align-items: center;
  border: 1px solid #00a6a6;
  border-radius: 2rem;
  padding: 4rem;
  width: 100%;
  position: relative;
  padding-top: 3.8rem;
  margin-bottom: 3rem;
  padding-right: 0;
}

.flow__card:not(:first-child) {
  margin-top: 2rem;
}

.flow__card-number {
  font-size: 2rem;
  font-weight: 400;
  font-family: Aboreto;
  text-align: center;
  padding: 0 3.6rem 3.9rem 3.6rem;
  // border-right: 1px solid #00a6a6;
  flex: 0 0 10rem;
}

.flow__card-number-large {
  font-size: 2rem;
  font-weight: 400;
  font-family: Aboreto;
  text-align: center;
  padding: 0 3.6rem 3.9rem 3.6rem;
  // border-right: 1px solid #00a6a6;
  flex: 0 0 10rem;
  align-self: self-start;
  margin-top: 2.9rem;
}

.flow__card-number span {
  display: block;
  font-size: 3.6rem;
  font-weight: 400;
  font-family: Aboreto;
  margin-top: 1rem;
}

.flow__card-number-large span {
  display: block;
  font-size: 3.6rem;
  font-weight: 400;
  font-family: Aboreto;
  margin-top: 1rem;
}

.flow__card-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.flow__card-content-large {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.flow__card-img {
  width: 100%;
  max-width: 28rem;
  margin-left: 2.2rem;
  // border-left: 1px solid #00a6a6;
}

.flow__card-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 280/160;
  object-fit: cover;
}

.flow__card-img::before {
  content: "";
  position: absolute;
  top: 16%; /* 上から配置 */
  left: 13.1%; /* 左端 */
  width: 0.1rem; /* 線の太さ */
  height: 67%; /* 親要素と同じ高さ */
  background-color: rgba(2, 177, 166, 1); /* 緑色 */
}

.flow__card-text {
  flex: 1;
}

.flow__card-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7;
  font-family: Zen Old Mincho;
  color: #00a6a6;
  margin-top: -0.5rem;
}

.follow-reception {
  margin-top: -5.5rem;
}

.flow__card-description {
  font-size: 1.6rem;
  color: #666;
  line-height: 1.6;
  font-family: Zen Old Mincho;
  margin-top: 2rem;
  white-space: nowrap; /* ✅ 1行表示を強制 */
}

.flow__buttons {
  display: flex;
  gap: 0.8rem;
  margin-top: 2rem;
}

.flow__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
}

.flow__button-img {
  width: 3.2rem;
  height: 3.2rem;
}

.flow__button-title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.04rem;
  font-family: Zen Old Mincho;
  line-height: 1.6;
  margin-left: 1rem;
}

.flow__button--line {
  background-color: #00c300;
}

.flow__button--web {
  background-color: #ff6b6b;
}

.flow__button--phone {
  background-color: #f5a623;
}

.flow__arrow {
  width: 10rem;
  height: 4rem;
  background: url("../img/beginners/arrow.png") no-repeat center;
  background-size: contain;
}

.flow__payment-list {
  margin-top: 2rem;
}

.flow__payment-item {
  display: flex;
}

.flow__payment-item:not(:first-child) {
  margin-top: 1.1rem;
}

.flow__payment-img {
  width: 2rem;
  height: 2rem;
}

.flow__payment-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: Zen Old Mincho;
}

.flow__payment-card-img {
  width: 43.8rem;
  height: 4.5rem;
}

.flow-card-large {
  min-height: 580px;
}

.payment__details {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: Zen Old Mincho;
}

.payment__details li {
  list-style-type: disc; /* ✔ 黒丸（•）を表示 */
  list-style-position: inside; /* ✔ テキストと一緒にインデント */
}

.flow__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 19px;
  text-decoration: none;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.3s;

  // @include mq("md") {
  //   padding-bottom: 120px;
  // }
}

.flow__button a:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.flow__button a {
  border: 0.2rem solid rgba(2, 177, 166, 1);
  display: inline-block;
  max-width: 204px;
  width: 100%;
  padding: 15.5px 57px;
  font-size: 1.4rem;
  border-radius: 6px;
  text-align: center;
  color: rgba(2, 177, 166, 1);
  position: relative;
  text-decoration: none;
  outline: none;
  font-family: Noto Serif JP;
  letter-spacing: 0.05em;

  // @include mq("md") {
  //   font-size: 14px;
  //   line-height: 1.448;
  //   letter-spacing: 0.05em;
  //   padding: 14px 47px;
  //   max-width: 173px;
  //   height: 48px;
  //   margin-top: 10px;
  // }
}

.flow__button a::after {
  position: absolute;
  top: 54%;
  right: -12px;
  width: 7px;
  height: 7px;
  margin-top: -4px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 0.1rem solid rgba(2, 177, 166, 1);
  border-right: 0.1rem solid rgba(2, 177, 166, 1);
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 33px;

  // @include mq("md") {
  //   margin-right: 32px;
  //   width: 9px;
  //   height: 9px;
  //   top: 52%;
  // }
}
