@import "_common";

.beginners-page-top {
  margin-top: 6.7rem;
}

.beginners-guide-title {
  left: 39%;
}

.beginners__title {
  display: inline-block;
}

.beginners__title p {
  text-align: left;
  padding-left: 1.2rem;
}

.beginners__title h2 {
  padding-left: 0.3rem;
}

.beginners__title::after {
  left: 0;
}

.beginners__title-text {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgba(2, 177, 166, 1);
  margin-top: 3.5rem;
  font-family: "Zen Old Mincho";
  line-height: 1.6;
}

.reason-top {
  margin-top: 15rem;
}

.reason__title {
  display: inline-block;
}

.reason__title h2 {
  text-align: left;
}

.reason__title::after {
  left: 0;
}

.reason__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2.5rem;
  row-gap: 11.9rem;
  margin-top: 10.8rem;
}

.reason-card__item {
  position: relative; /* ✅ これを追加！ */
  display: block; /* ✅ `a`タグなので block に */
}

.reason-card__polygon::before {
  content: "";
  position: absolute;
  top: -5.7rem;
  left: 26%;
  transform: translateX(-50%);
  width: 20.2rem; /* ✅ 画像のサイズに合わせて適切な値を指定 */
  height: 20.2rem;
  background-image: url("../img/beginners/polygon1.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.reason-card__polygon::after {
  content: "";
  position: absolute;
  top: -7rem;
  left: 30%;
  transform: translateX(-50%);
  width: 20.2rem; /* ✅ こちらも適切なサイズを指定 */
  height: 20.2rem;
  background-image: url("../img/beginners/polygon2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.reason-card__text-main {
  font-size: 2rem;
  font-weight: 400;
  font-family: Aboreto;
  position: absolute;
  top: 0%; /* 調整可能 */
  left: 26.4%;
  transform: translateX(-50%);
  // color: rgba(229, 248, 239, 1);
}

.reason-card__text-number {
  font-size: 4.8rem;
  font-weight: 400;
  font-family: Aboreto;
  position: absolute;
  top: 6.4%; /* 調整可能 */
  left: 26.5%;
  transform: translateX(-50%);
  // color: rgba(229, 248, 239, 1);
}

.reason-card__item-img::before {
  content: "";
  position: absolute;
}

.reason-card__item-img {
  max-width: 73%; /* 画像の最大幅を設定（テキストより小さく） */
  // margin: 0 auto; /* 中央揃え */
  margin-left: 7.4rem;
}

.reason-card__item-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 280/291;
  object-fit: cover;
}

.reason-card__body {
  max-width: 100%; /* テキスト部分の最大幅を指定 */
  margin: 2rem auto 0; /* 上の余白を調整し、中央揃え */
}

.reason-card__text {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7;
  font-family: "Zen Old Mincho";
  color: rgba(2, 177, 166, 1);
  text-align: center;
}

.reason-card__text-sub {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.65;
  font-family: "Zen Old Mincho";
  margin-top: 2rem;
}

.flow-top {
  margin-top: 14.3rem;
}

.flow__title {
  display: inline-block;
}

.flow__title h2 {
  text-align: left;
}

.flow__title::after {
  left: 0;
}

.flow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.flow__inner {
  width: 100%;
}

.flow__heading {
  text-align: center;
  // margin-bottom: 3rem;
}

.flow__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  // gap: 3rem;
  margin-top: 4rem;
}

.flow__card {
  display: flex;
  align-items: center;
  border: 1px solid #00a6a6;
  border-radius: 2rem;
  padding: 4rem;
  width: 100%;
  position: relative;
  padding-top: 3.8rem;
  margin-bottom: 3rem;
  padding-right: 0;
}

.flow-card-mid {
  padding-top: 4rem;
  padding-bottom: 3.9rem;
}

.flow__card:not(:first-child) {
  margin-top: 2rem;
}

.flow__card-number {
  font-size: 2rem;
  font-weight: 400;
  font-family: Aboreto;
  text-align: center;
  padding: 0 3.6rem 3.9rem 3.6rem;
  // border-right: 1px solid #00a6a6;
  flex: 0 0 10rem;
}

.flow__card-number-large {
  font-size: 2rem;
  font-weight: 400;
  font-family: Aboreto;
  text-align: center;
  padding: 0 3.6rem 3.9rem 3.6rem;
  // border-right: 1px solid #00a6a6;
  flex: 0 0 10rem;
  align-self: self-start;
  margin-top: 2.9rem;
}

.flow__card-number-mid {
  font-size: 2rem;
  font-weight: 400;
  font-family: Aboreto;
  text-align: center;
  padding: 0 3.6rem 6rem 3.6rem;
  // border-right: 1px solid #00a6a6;
  flex: 0 0 10rem;
}

.flow__card-number span {
  display: block;
  font-size: 3.6rem;
  font-weight: 400;
  font-family: Aboreto;
  margin-top: 1rem;
}

.flow__card-number-large span {
  display: block;
  font-size: 3.6rem;
  font-weight: 400;
  font-family: Aboreto;
  margin-top: 1rem;
}

.flow__card-number-mid span {
  display: block;
  font-size: 3.6rem;
  font-weight: 400;
  font-family: Aboreto;
  margin-top: 1rem;
}

.flow__card-content {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.flow__card-content-large {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
}

.flow__card-img {
  width: 100%;
  max-width: 28rem;
  margin-left: 2.2rem;
  align-self: flex-start;
  // border-left: 1px solid #00a6a6;
}

.flow__card-img-large {
  width: 100%;
  max-width: 28rem;
  margin-left: 2.2rem;
  align-self: flex-start;
  // border-left: 1px solid #00a6a6;
}

.flow__card-img img {
  width: 100%;
  height: auto;
  aspect-ratio: 280/160;
  object-fit: cover;
}

.flow__card-img-large img {
  width: 100%;
  height: auto;
  aspect-ratio: 280/160;
  object-fit: cover;
}

.flow__card-img::before {
  content: "";
  position: absolute;
  top: 16%; /* 上から配置 */
  left: 13.1%; /* 左端 */
  width: 0.1rem; /* 線の太さ */
  height: 67%; /* 親要素と同じ高さ */
  background-color: rgba(2, 177, 166, 1); /* 緑色 */
}

.flow__card-img-large::before {
  content: "";
  position: absolute;
  top: 6.5%; /* 上から配置 */
  left: 13.1%; /* 左端 */
  width: 0.1rem; /* 線の太さ */
  height: 86.5%; /* 親要素と同じ高さ */
  background-color: rgba(2, 177, 166, 1); /* 緑色 */
}

.flow__card-text {
  flex: 1;
}

.flow__card-text-large {
  padding-top: 5.7rem;
}

.flow__card-text-mid {
  padding-top: 0.7rem;
}

.flow__card-title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.7;
  font-family: Zen Old Mincho;
  color: #00a6a6;
  margin-top: -0.5rem;
}

.follow-reception {
  margin-top: -5.5rem;
}

.flow__card-description {
  font-size: 1.6rem;
  color: #666;
  line-height: 1.6;
  font-family: Zen Old Mincho;
  margin-top: 2rem;
  white-space: nowrap; /* ✅ 1行表示を強制 */
}

.flow__buttons {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.flow__button-img {
  width: 3.2rem;
  height: 3.2rem;
}

.flow__button-title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.04rem;
  font-family: Zen Old Mincho;
  line-height: 1.6;
  margin-left: 1rem;
}

.flow__button--line {
  background-color: #00c300;
}

.flow__button--web {
  background-color: #ff6b6b;
}

.flow__button--phone {
  background-color: #f5a623;
}

.flow__arrow {
  width: 10rem;
  height: 4rem;
  background: url("../img/beginners/arrow.png") no-repeat center;
  background-size: contain;
}

.flow__payment-list {
  margin-top: 2rem;
}

.flow__payment-item {
  display: flex;
  position: relative;
}

.flow__payment-item:not(:first-child) {
  margin-top: 1.1rem;
}

.flow__payment-img {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 10%; /* 上から配置 */
  left: 0%; /* 左端 */
}

.flow__payment-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: Zen Old Mincho;
  padding-left: 3rem;
}

.flow__payment-card-img {
  width: 43.8rem;
  height: 4.5rem;
  margin-top: 0.5rem;
}

.flow-card-large {
  min-height: 5.8rem;
  padding-top: 3.8rem;
  padding-bottom: 3rem;
}

.payment__details {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  font-family: Zen Old Mincho;
  margin-top: 0.8rem;
}

.payment__details li {
  padding-left: 0.4rem;
}

.flow__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.2rem;
  text-decoration: none;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.3s;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;

  // @include mq("md") {
  //   padding-bottom: 120px;
  // }
}

.flow__button-consent {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.6rem;
  text-decoration: none;
  outline: none;
  /*アニメーションの指定*/
  transition: all 0.3s;
  padding: 0.8rem 1.7rem;
  border-radius: 0.5rem;
  padding-left: 0;

  // @include mq("md") {
  //   padding-bottom: 120px;
  // }
}

.flow__button-consent a:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.flow__button-consent a {
  border: 0.2rem solid rgba(2, 177, 166, 1);
  display: inline-block;
  max-width: 24rem;
  width: 100%;
  padding: 15.5px 57px;
  font-size: 1.4rem;
  border-radius: 0.2rem;
  color: rgba(2, 177, 166, 1);
  position: relative;
  text-decoration: none;
  outline: none;
  font-family: Noto Serif JP;
  letter-spacing: 0.05em;
  padding-left: 1.4rem;

  // @include mq("md") {
  //   font-size: 14px;
  //   line-height: 1.448;
  //   letter-spacing: 0.05em;
  //   padding: 14px 47px;
  //   max-width: 173px;
  //   height: 48px;
  //   margin-top: 10px;
  // }
}

.flow__button-consent a::after {
  position: absolute;
  top: 48%;
  right: -8%;
  width: 0.5rem;
  height: 0.5rem;
  margin-top: -0.4rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 0.2rem solid rgba(2, 177, 166, 1);
  border-right: 0.2rem solid rgba(2, 177, 166, 1);
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 3.3rem;

  // @include mq("md") {
  //   margin-right: 32px;
  //   width: 9px;
  //   height: 9px;
  //   top: 52%;
  // }
}

.follow-treatment {
  margin-top: -2.5rem;
}

.access {
  padding-top: 4.1rem;
  padding-bottom: 6rem;
  background: url(../img/beginners/bg.jpg) no-repeat center center/cover;
  margin-top: 5.4rem;
  @include mq("sp") {
    padding-top: 2.1rem;
  }
}

.access__title {
  color: var(--main-color, #02b1a6);
  font-family: "Zen Old Mincho";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 3.2rem */
  @include mq("sp") {
    font-size: 1.6rem;
  }
}

.access__list {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.1rem;
  @include mq("sp") {
    flex-direction: column;
    gap: 2rem;
  }
}

.access__box {
  margin-top: 1.6rem;
  width: 55rem;
  @include mq("sp") {
    width: auto;
  }
}

.access__item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 0;
  border-top: 1px solid #e5f8ef;
  @include mq("sp") {
    padding: 1.4rem 0;
  }
  &:nth-of-type(4) {
    border-bottom: 1px solid #e5f8ef;
  }
}

.access__item_head {
  color: var(--main-color, #02b1a6);
  /* Subheading Text */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.128rem;
  width: 9.1rem;
  @include mq("sp") {
  }
}

.access__item_text {
  color: var(--text-color, #333);
  /* body text base */
  font-family: "Zen Old Mincho";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 2.56rem */
  a {
    display: inline-block;
  }
  @include mq("sp") {
    font-size: 1.4rem;
  }
}

.access__btn {
  margin-top: 2.5rem;
  margin-left: auto;
  @include mq("sp") {
    margin-right: auto;
  }
}

.access__left {
  @include mq("sp") {
    width: 100%;
  }
}

.btn__list {
  margin-top: 8.1rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  @include mq("sp") {
    flex-direction: column;
    margin-top: 2.5rem;
  }
  a {
    display: flex;
    width: 22rem;
    height: 4rem;
    align-items: center;
    border-radius: 0.5rem;
    background: var(--main-color, #02b1a6);
    color: var(--FFF, #fff);
    text-align: center;
    padding-left: 6.75rem;

    /* header button text */
    font-family: "Zen Old Mincho";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 2.24rem */
    letter-spacing: 0.056rem;
    position: relative;
    transition: 0.3s;
    @include mq("sp") {
      margin-left: auto;
      margin-right: auto;
    }
    &:hover {
      border: 1px solid #02b1a6;
      background: var(--sub-color, #e5f8ef);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: var(--main-color, #02b1a6);
      &::after {
        border: 1px solid #02b1a6;
        right: 7.45rem;
      }

      &::before {
        background-color: #02b1a6;
        right: 6.75rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
      border-radius: 2.4rem;
      border: 1px solid var(--FFF, #fff);
      top: 50%;
      transform: translateY(-50%);
      right: 6.75rem;
      transition: 0.3s;
    }

    &::before {
      position: absolute;
      content: "";
      width: 2rem;
      height: 0.1rem;
      background-color: #fff;
      right: 7.85rem;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.access__right {
  width: 60rem;
  height: 40rem;
  flex-shrink: 0;
  @include mq("sp") {
    width: 100%;
    height: 24.5rem;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
}

.route {
  margin-top: -0.5rem;
}

.route__title {
  color: var(--main-color, #02b1a6);
  font-family: "Zen Old Mincho";
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 3.2rem */
  @include mq("sp") {
    font-size: 1.6rem;
  }
}

.route__cards {
  display: grid;
  margin-top: 2.4rem;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5rem;
  place-items: center;
  gap: 6.5rem;
  position: relative;
}

.route-card__item {
  max-width: 25rem;
  // box-shadow: 3px 3px 4px 0px rgba(29, 29, 29, 0.75);
}

.route-card__item:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 17rem;
  left: 23.9%;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 5rem;
  background: url("../img/beginners/arrow2.png") no-repeat center;
  background-size: contain;
}

.route-card__item:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 17rem;
  left: 50.3%;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 5rem;
  background: url("../img/beginners/arrow2.png") no-repeat center;
  background-size: contain;
}

.route-card__item:nth-child(4)::before {
  content: "";
  position: absolute;
  top: 17rem;
  left: 76.7%;
  transform: translateX(-50%);
  width: 2.5rem;
  height: 5rem;
  background: url("../img/beginners/arrow2.png") no-repeat center;
  background-size: contain;
}

.route-card__img {
  width: 100%;
}

.route-card__img img {
  aspect-ratio: 250/228;
  object-fit: cover;
  width: 100%;
}

.route-card__body {
  // color: $beige;
  margin-top: 1.6rem;
  // padding-left: 16px;
  padding-bottom: 16px;
  // padding-right: 16px;
}

.route-card__text {
  font-family: Zen Old Mincho;
  font-size: 1.6rem;
  color: rgba(2, 177, 166, 1);
  letter-spacing: 0.08rem;
  line-height: 1.6;
  font-weight: 700;
  border-bottom: 0.1rem solid rgba(2, 177, 166, 1);
  padding-bottom: 0.5rem;
}

.route-card__text-sub {
  font-family: Zen Old Mincho;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 1.2rem;
  color: rgba(51, 51, 51, 1);
}
